.container {
    max-width: 1440px;
    padding: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}



.error {
    color: #d8000c;
    background-color: #ffbaba;
    padding: 5px;
    border: 1px solid #d8000c;
    border-radius: 6px;
    font-size: 16px;
    margin: 10px 0;
    font-weight: 500;
    text-align: center;

}